.btn {
    display: inline-flex;
    align-items: center;

    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 1.15rem 1.5rem;
    @include cursorPointer;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s ease-in-out;

    color: $color_white;

    .btn__icon {
        fill: $color_white;
    }

    &__text {

    }

    &__icon {
        width: 1.2rem;
        height: 1.2rem;
        @include baseTransition;

        &--spaceLeft {
            margin-left: 0.7rem;
        }

        &--spaceRight {
            margin-right: 0.7rem;
        }
    }

    &:hover, &:focus {
        
    }

    &--primary {
        background-color: $color_primary;

        &:hover, &:focus {
            background-color: darken($color_primary, 10%);
        }
    }

    &--success {
        background-color: $color_success;

        &:hover, &:focus {
            background-color: darken($color_success, 10%);
        }
    }

    &--warning {
        background-color: $color_warning;

        &:hover, &:focus {
            background-color: darken($color_warning, 10%);
        }
    }

    &--bordered {
        background-color: $color_white;
        box-shadow: 0 0 0 2px currentColor inset;

        &_primary {
            box-shadow: 0 0 0 2px $color_primary inset;
            color: $color_primary;
    
            .btn__icon {
                fill: $color_primary;
            }
    
            &:hover, &:focus {
                box-shadow: 0 0 0 2px darken($color_primary, 5%) inset;
                color: darken($color_primary, 5%);

                .btn__icon {
                    fill: darken($color_primary, 5%);
                }
            }
        }

        &_success {
            box-shadow: 0 0 0 2px $color_success inset;
            color: $color_success;
    
            .btn__icon {
                fill: $color_success;
            }
    
            &:hover, &:focus {
                box-shadow: 0 0 0 2px darken($color_success, 5%) inset;
                color: darken($color_success, 5%);

                .btn__icon {
                    fill: darken($color_success, 5%);
                }
            }
        }

    }

    &--transparent {
        background-color: transparent;
        
        &:hover, &:focus {
            box-shadow: unset;
        }

        &_primary {
            color: $color_primary;

            &:hover, &:focus {
                color: darken($color_primary, 10%);
            }
        }

        &_danger {
            color: $color_danger;

            &:hover, &:focus {
                color: darken($color_danger, 10%);
            }
        }

        &_success {
            color: $color_success;
            
            &:hover, &:focus {
                color: darken($color_success, 10%);
            }
        }
    }

    &:disabled {
        opacity: 0.7;
        pointer-events: none;
    }

}