
.c-field {
    --iconSize: 1.4rem;
    --inputPaddingX: 1.2rem;
    $color_main: $color_primary;

    display: inline-flex;
    align-items: center;
    max-width: 100%;

    &--column {
        flex-direction: column;
        align-items: flex-start;

        .c-field__title {
            margin: 0 0 0.5rem 0;
        }
    }

    @media ($media_sm) {
        flex-direction: column;
        align-items: flex-start;

        .c-field__title {
            margin: 0 0 0.5rem 0;
        }
    }

    // .c-field__title

    &__title {
        margin-right: 0.5rem;
    }

    // .c-field__area

    &__area {
        display: inline-flex;
        position: relative;

        &[data-passwordSwitcher] {
            @include cursorPointer;
        }

        // .c-field__area--icon

        &--icon {
            .c-field__input {
                padding-right: calc(var(--inputPaddingX) + var(--iconSize) + 0.4rem);

                &:hover, &:focus {
                    ~ .c-field__icon {
                        fill: $color_main;
                    }
                }
            }

            .c-field__icon {
                fill: lighten($color_main, 15%);
            }
        }
    }

    // .c-field__input

    &__input {
        display: inline-flex;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        padding: 0 var(--inputPaddingX);
        font-weight: 500;
        height: 3.2rem;
        border: 1px solid lighten($color_main, 15%);
        transition: 0.3s ease-in-out;
        max-width: 100%;

        &--textarea {
            resize: none;
            height: auto;
            padding: var(--inputPaddingX);
            line-height: 1.3;
            width: 25rem;
        }

        &::placeholder {
            color: $color_secondary;
        }

        &:hover, &:focus {
            border-color: $color_main;
        }

        &:disabled {
            background-color: darken($color_white, 5%);
            border-color: $color_secondary;
            pointer-events: none;
        }
    }

    // .c-field__icon

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: var(--inputPaddingX);
        transition: 0.3s ease-in-out;

        width: var(--iconSize);
        height: var(--iconSize);

        &--min {
            width: calc(var(--iconSize) / 1.3);
            height: calc(var(--iconSize) / 1.3);
        }
    }
}