.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}

.icon-arrow-down {
	font-size:(16/20)*1rem;
	width:(16/16)*1em;
}

.icon-arrow-left {
	font-size:(16/20)*1rem;
	width:(16/16)*1em;
}

.icon-check {
	font-size:(16/20)*1rem;
	width:(16/16)*1em;
}

.icon-check_bold {
	font-size:(16/20)*1rem;
	width:(16/16)*1em;
}

.icon-close {
	font-size:(17.17/20)*1rem;
	width:(17.17/17.17)*1em;
}

.icon-eye_close {
	font-size:(32/20)*1rem;
	width:(32/32)*1em;
}

.icon-eye_open {
	font-size:(32/20)*1rem;
	width:(32/32)*1em;
}

.icon-loupe {
	font-size:(32/20)*1rem;
	width:(32/32)*1em;
}

.icon-twitter {
	font-size:(28/20)*1rem;
	width:(32/28)*1em;
}

.icon-window {
	font-size:(150/20)*1rem;
	width:(150/150)*1em;
}

