// [[ Цвета, используемые в проекте. Должны начинаться с $color_ ]]

$color_bg_light: #262c37;
$color_bg_dark: #1b1e28;
$color_bg_light_two: #292f3a;
$color_bg_modal: #272b38;
$color_header_border: #3b414b;
$color_bookmakers_items: #3a4150;
$color_bookmakers_items_hover: #565c68;
$color_sport_items: #363d4c;
$color_integration_tabs: #bec0c3;
$color_integration_container: #303543;

$color_faq_item_close: #2c323d;
$color_faq_item_open: #363d4c;