// === header === [ Стили для навбара, используемые на всех страницах ] ===

.header {
    background-color: $color_header;
    box-shadow: 0 0 1.25rem 0 rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11;
    margin: 0;

    // .header__inner

    &__inner {
        min-height: var(--header-min-height);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media ($media_sm) {
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        @media ($media_xs) {
            width: 100%;
        }
    }

    // .header__logo

    &__logo {

        @media ($media_sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: inherit;

            width: 90%;
            margin: 0 auto;
        }
    }

    // .header__controls

    &__controls {
        display: flex;
        align-items: center;

        @media ($media_sm) {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto calc(var(--header-min-height) / 3);

            &[data-burger='menu'] {
                display: none; // если бургер меню активно
                width: 90%;
            }
        }
    }

    // .header__links

    &__links {

    }

    // .header__menu

    &__menu {

    }

    // .header__select

    &__select {
        margin-left: 1.6rem;

        @media ($media_sm) {
            margin: 1.5rem 0 0 0;
        }
    }
}

.logo {

    display: flex;
    width: 14rem;

    picture {
        display: inline-flex;
    }

    // .logo__icon

    &__icon {
        
    }
}

.menu {
    display: flex;
    
    @media ($media_sm) {
        flex-direction: column;
    }

    // .menu__item

    &__item {

        &:not(:last-child) {
            margin-right: 1.2rem;

            @media ($media_sm) {
                margin: 0 0 0.5rem 0;
            }
        }

        // .menu__item--active

        &--active {

            .menu__link {
                color: $color_primary;

                &::after {
                    background-color: $color_primary;
                }
            }
        }
    }

    // .menu__link

    &__link {
        position: relative;
        display: inline-block;
        padding: 0.4rem 0;
        color: $color_black_main;
        text-decoration: none;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $color_black_main;
            transform: scaleX(0);
            transition: 0.3s ease-in-out;

            @media ($media_sm) {
                //content: none;
            }
        }

        &:hover {

            &::after {
                transform: scaleX(1);
            }
        }
    }
}

// === / header ===