// === Modal ===

.modal {
    position: fixed;
    top: -999px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
    z-index: 21;

    padding: 3.5rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
    background-color: $color_white;
    width: 34rem;

    &.visible {
        top: 50%;
    }

    @media ($media_xs) {
        width: 90%;
        padding: 1.5rem;
    }

    // .modal__body

    &__body {
        max-height: 80vh;
        overflow-y: auto;
    }

    // .modal__header

    &__header {
        text-align: center;
        line-height: 1.27;
        margin-bottom: 2.5rem;
    }

    // .modal__close

    &__close {
        position: absolute;
        right: 0;
        top: 0;
        height: 2.8rem;
        width: 2.8rem;
        box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.16);
        transform: translate(40%, -40%);
        background-color: $color_white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.95rem;
        cursor: pointer;

        svg {
            fill: $color_black_main;
        }
    }

    // .modal__content

    &__content {
        text-align: center;
    }

    // .modal__img

    &__img {
        svg {
            max-width: 10rem;
        }
    }

    // .modal__text

    &__text {
        padding: 1rem 0;
    }

    // .modal__button

    &__button {

    }
}

// === / Modal